html{
  background-color:#9F9C90 ;
  font-size: 20px; 
  padding: 50px 30px 30px 30px;
  margin: 0px;
}
nav {
	height: 70px;
	background-color: #9F9C90;
	box-shadow-bottom: 8px rgba(0,0,0,.2);
	position: sticky;
	top: 0;
	padding-bottom: 15px;
}

nav .logo{
	display: block;
	width: 1150px;
	height: 46px;
	position: absolute; top: 50%; left: 0;
	margin-top: -20px;
	margin-left: 30px;
	background: url(img/logo.png) no-repeat 0 0;
	background-size: 100%;
	overflow: hidden;
}

nav ul{
	padding: 0;
	margin: 0 20px 0 0 ;
	display: block;
}

nav ul li{
	padding: 0;
	margin: 25px;
	display: block;
	float: right;
}
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: black;
  opacity:70%;
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
  color: #E4DDBA;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #9F9C90;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #E4DDBA;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}
.banner{
	background-color: #E4DDBA;
border-radius: 15px;
height: auto;
margin: 0 auto;
box-sizing: border-box;
padding: 20px;
padding-left: 50px;
padding-right: 50px;
text-align: left;
color: #404841;
}

.banner h1{
	font-size: 50px;
text-align: center;
padding-bottom: 30px;
}

.pic1{
	width: 300px;
	height: 450px;
	border-radius: 15px;
	top: 200px;
	margin-top: 40px;
}

.txt{
	text-align: center;
	width: 290px;
	float: right;
	top: 300px;
}
.title-left{
	display: inline;
}

.title-right{
	float: right;
	z-index: 2;
	margin-right: 150px;
	margin-top: -1px;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

}

.container {
	padding: 10px;
  background-color: white;
  text-align: center;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
  text-align: center;
}

footer {
text-align: center;
color: #E4DDBA;
font-size: 20px;
margin-top: 10px;
}
